<IfModule mod_rewrite.c>
  ErrorDocument 404 http://harianamanah.com/alamatpalsu.html
  Options All -Indexes

  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-f

  RewriteRule ^popular\.html$ template.php?module=popular [L]
  RewriteRule ^rekomendasi\.html$ template.php?module=rekomendasi [L]
  RewriteRule ^foto-(.*)$ template.php?module=detailfoto&judul=$1 [L]
  RewriteRule ^kategori-(.*)\.html$ template.php?module=detailkategori&id=$1 [L]
  RewriteRule ^berita-(.*)\.html$ template.php?module=detailberita&judul=$1 [L]
  RewriteRule ^video-(.*)$ template.php?module=detailvideo&judul=$1 [L]
  RewriteRule ^search? template.php?module=hasilcari&searchmode=all [QSA,L]
  RewriteRule ^epaper$ template.php?module=epaper [L]
  RewriteRule ^video$ template.php?module=video [L]
  RewriteRule ^foto$ template.php?module=foto [L]
  RewriteRule ^profil-kami$ template.php?module=profilkami&id=$1 [L]
  RewriteRule ^halkomentar-(.*)-([0-9]+)$ template.php?module=detailberita&judul=$1&halkomentar=$2 [L]
  RewriteRule ^indeks-berita$ template.php?module=indeksberita&id=$1 [L]
  RewriteRule ^halberita-(.*)$ template.php?module=semuaberita&halberita=$1 [L]
  RewriteRule ^kategori-(.*)$ template.php?module=detailkategori&id=$1 [L]
  RewriteRule ^halkategori-(.*)-([0-9]+)$ template.php?module=detailkategori&id=$1&halkategori=$2 [L]
  RewriteRule ^semua-berita$ template.php?module=semuaberita&id=$1 [L]
  RewriteRule ^album-([0-9]+)-(.*)$ template.php?module=detailalbum&id=$1 [L]
  RewriteRule ^semua-album$ template.php?module=semuaalbum&id=$1 [L]
  RewriteRule ^galeri-(.*)$ zoom.php?id=$1 [L]
  RewriteRule ^halgaleri-([0-9]+)-(.*)$ template.php?module=detailalbum&id=$1&halgaleri=$2 [L]
  RewriteRule ^semua-agenda$ template.php?module=semuaagenda&id=$1 [L]
  RewriteRule ^agenda-(.*)$ template.php?module=detailagenda&tema=$1 [L]
  RewriteRule ^hasil-poling$ template.php?module=hasilpoling&id=$1 [L]
  RewriteRule ^lihat-poling$ template.php?module=lihatpoling&id=$1 [L]
  RewriteRule ^semua-download$ template.php?module=semuadownload&id=$1 [L]
  RewriteRule ^haldownload-(.*)$ template.php?module=semuadownload&haldownload=$1 [L]
  RewriteRule ^play-([0-9]+)-(.*)$ template.php?module=play&id=$1 [L]
  RewriteRule ^halkomentarvideo-([0-9]+)-(.*)$ template.php?module=play&id=$1&halkomentarvideo=$2 [L]
  RewriteRule ^halvideo-([0-9]+)-(.*)$ template.php?module=detailplaylist&id=$1&halvideo=$2 [L]
  RewriteRule ^playlist-([0-9]+)-(.*)$ template.php?module=detailplaylist&id=$1 [L]
  RewriteRule ^semua-playlist$ template.php?module=semuaplaylist&id=$1 [L]
  RewriteRule ^halplaylist-(.*)$ template.php?module=semuaplaylist&halplaylist=$1 [L]
  RewriteRule ^hubungi-kami$ template.php?module=hubungikami&id=$1 [L]
  RewriteRule ^not-found$ template.php?module=notfound&id=$1 [L]

  #Clean URL
  RewriteRule ^(.*)\.html$ template.php?module=rubrik&jn=$1 [L]
  RewriteRule ^([^\.]+)$ $1.html [NC,L]
  RewriteRule ^index.php$ template.php?module=home [L]
</IfModule>