<IfModule mod_rewrite.c>
  ErrorDocument 404 http://harianamanah.com/not-found
  Options All -Indexes

  #mengaktifkan mode tulisulang
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-f

  RewriteRule ^hal-(.*)\.html$ media.php?module=halamanstatis&redaksi=$1 [L]
  RewriteRule ^foto-(.*)\.html$ media.php?module=detailfoto&judul=$1 [L]
  RewriteRule ^video-(.*)$ media.php?module=detailvideo&judul=$1 [L]
  RewriteRule ^tag/(.*) media.php?module=detailtag&tag=$1 [QSA,L]
  # RewriteRule ^foto$ media.php?module=foto [L]
  RewriteRule ^kategori-(.*)\.html$ media.php?module=detailkategori&id=$1 [L]
  RewriteRule ^berita-(.*)\.html$ media.php?module=detailberita&judul=$1 [L]
  RewriteRule ^search media.php?module=hasilcari [QSA,L]
  RewriteRule ^epaper$ media.php?module=epaper [L]
  # RewriteRule ^video$ media.php?module=video [L]
  RewriteRule ^indeks-berita$ media.php?module=indeksberita&id=$1 [L]
  RewriteRule ^halberita-(.*)$ media.php?module=semuaberita&halberita=$1 [L]
  RewriteRule ^kategori-(.*)$ media.php?module=detailkategori&id=$1 [L]
  RewriteRule ^halkategori-(.*)-([0-9]+)\.html$ media.php?module=detailkategori&id=$1&halkategori=$2 [L]
  RewriteRule ^semua-berita$ media.php?module=semuaberita&id=$1 [L]
  RewriteRule ^not-found$ media.php?module=notfound&id=$1 [L]
  RewriteRule ^sitemap\.html$ media.php?module=sitemap [L]
  RewriteRule ^googlec4c1ba331ed90473\.html$ googlec4c1ba331ed90473.html [L]
  RewriteRule ^lombamewarnaiislami$ media.php?module=warnaislami [L]
  RewriteRule ^pilkada/(.*)/(.*)$ media.php?module=pilkd&daerah_pilkada=$1&calon=$2 [L]
  RewriteRule ^pilkada/(.*)?$ media.php?module=pilkd-daerah&daerah_pilkada=$1 [L]

  #Clean URL
  RewriteRule ^(.*)\.html$ media.php?module=katepage&menu=$1 [L]
  RewriteRule ^([^\.]+)$ $1.html [NC,L]
  RewriteRule ^index.php$ media.php?module=home [L]
</IfModule>
