<IfModule mod_rewrite.c>
  ErrorDocument 404 http://harianamanah.com/alamatpalsu.html
  Options All -Indexes

  #mengaktifkan mode tulisulang
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-f

  RewriteRule ^news\.html$ media.php?module=news [L]
  RewriteRule ^kalam\.html$ media.php?module=kalam [L]
  RewriteRule ^sosok\.html$ media.php?module=sosok [L]
  RewriteRule ^kajian\.html$ media.php?module=kajian [L]
  RewriteRule ^lifestyle\.html$ media.php?module=lifestyle [L]
  RewriteRule ^ummatizen\.html$ media.php?module=komunitas [L]
  RewriteRule ^foto-(.*)$ media.php?module=detailfoto&judul=$1 [L]
  RewriteRule ^kategori-(.*)\.html$ media.php?module=detailkategori&id=$1 [L]
  RewriteRule ^berita-(.*)\.html$ media.php?module=detailberita&judul=$1 [L]
  RewriteRule ^video-(.*)$ media.php?module=detailvideo&judul=$1 [L]
  RewriteRule ^search? media.php?module=hasilcari&searchmode=all [QSA,L]
  RewriteRule ^epaper$ media.php?module=epaper [L]
  RewriteRule ^video$ media.php?module=video [L]
  RewriteRule ^foto$ media.php?module=foto [L]
  RewriteRule ^profil-kami$ media.php?module=profilkami&id=$1 [L]
  RewriteRule ^halkomentar-(.*)-([0-9]+)$ media.php?module=detailberita&judul=$1&halkomentar=$2 [L]
  RewriteRule ^indeks-berita$ media.php?module=indeksberita&id=$1 [L]
  RewriteRule ^halberita-(.*)$ media.php?module=semuaberita&halberita=$1 [L]
  RewriteRule ^kategori-(.*)$ media.php?module=detailkategori&id=$1 [L]
  RewriteRule ^halkategori-(.*)-([0-9]+)\.html$ media.php?module=detailkategori&id=$1&halkategori=$2 [L]
  RewriteRule ^semua-berita$ media.php?module=semuaberita&id=$1 [L]
  RewriteRule ^album-([0-9]+)-(.*)$ media.php?module=detailalbum&id=$1 [L]
  RewriteRule ^semua-album$ media.php?module=semuaalbum&id=$1 [L]
  RewriteRule ^galeri-(.*)$ zoom.php?id=$1 [L]
  RewriteRule ^halgaleri-([0-9]+)-(.*)$ media.php?module=detailalbum&id=$1&halgaleri=$2 [L]
  RewriteRule ^semua-agenda$ media.php?module=semuaagenda&id=$1 [L]
  RewriteRule ^agenda-(.*)$ media.php?module=detailagenda&tema=$1 [L]
  RewriteRule ^hasil-poling$ media.php?module=hasilpoling&id=$1 [L]
  RewriteRule ^lihat-poling$ media.php?module=lihatpoling&id=$1 [L]
  RewriteRule ^semua-download$ media.php?module=semuadownload&id=$1 [L]
  RewriteRule ^haldownload-(.*)$ media.php?module=semuadownload&haldownload=$1 [L]
  RewriteRule ^play-([0-9]+)-(.*)$ media.php?module=play&id=$1 [L]
  RewriteRule ^halkomentarvideo-([0-9]+)-(.*)$ media.php?module=play&id=$1&halkomentarvideo=$2 [L]
  RewriteRule ^halvideo-([0-9]+)-(.*)$ media.php?module=detailplaylist&id=$1&halvideo=$2 [L]
  RewriteRule ^playlist-([0-9]+)-(.*)$ media.php?module=detailplaylist&id=$1 [L]
  RewriteRule ^semua-playlist$ media.php?module=semuaplaylist&id=$1 [L]
  RewriteRule ^halplaylist-(.*)$ media.php?module=semuaplaylist&halplaylist=$1 [L]
  RewriteRule ^hubungi-kami$ media.php?module=hubungikami&id=$1 [L]
  RewriteRule ^not-found$ media.php?module=notfound&id=$1 [L]

  #Clean URL
  RewriteRule ^([^\.]+)$ $1.html [NC,L]
  RewriteRule ^index.php$ media.php?module=home [L]
</IfModule>