div.imagePicker_dialog
{
    color: Black;
	display: none;
	position: absolute;
	top: -40px;
	left: 30px;
	z-index: 10000;
	background-color: #eee;
	border: 1px solid black;
	width: 400px;
	
	padding: 10px;

    box-shadow: -24px 24px 48px #666;
    border-radius: 10px;
}


img.imagePicker_preview
{
	width: 64px;
	height: 64px;
	border: 1px solid black;
	cursor: pointer;
	opacity: 0.8;
}

img.imagePicker_preview:hover
{
	opacity: 1;
}

div.imagePicker_image_container_text
{
	position: absolute;
	bottom: -5px;
	text-align: center;
	font-family: Verdana;
	font-size: 70%;
	color: #888;
	overflow: hidden;
	width: 68px;
}

div.imagePicker_dialog ul
{
	padding: 0;
}

div.imagePicker_dialog ul li
{
	display: inline-block;
	zoom: 1;
	*display:inline;
    list-style: none outside none;
    margin: 0 8px 8px 0;
    padding: 0;
}

div.imagePicker_dialog ul li img
{
	border: 1px solid black;
}

div.imagePicker_dialog input[type="search"]
{
	width: 160px;
	margin-right: 10px;
	font-size: 140%;
}

div.imagePicker_dialog input[type="url"]
{
	width: 240px;
	margin-right: 10px;
	font-size: 140%;
}


img.imagePicker_closeDialogButton
{
	cursor: pointer;
	float: right;
	opacity: 0.2;
}

img.imagePicker_closeDialogButton:hover
{
	opacity: 0.8;
}

div.imagePicker_dialogTitle
{
	font-family: Trebuchet MS;
	text-transform: uppercase;
	font-size: 120%;
	text-align: left;
	margin-bottom: 10px;
}

div.imagePicker_dialogBody hr
{
	margin: 30px 0;
	border-color: #aaa;
}

div.imagePicker_dialogBody
{
	padding: 10px;
	text-align: center;
}

div.imagePicker_dialogBody input[type="file"]
{
	width: 180px;
	height: 30px;
}
