
.st_sharethis_custom{
    background: url(/Content/2017/css/images/icon-share-light@x2.png) no-repeat scroll transparent;
    width: 22px;
    height: 36px;
    display: inline-block;
    background-size: contain;
    cursor: pointer;
    background-position: center;
} 

.shell {
    width: initial;
    padding: 0 40px;
}

h1, h2 {
    font-size: 34px;
}

header.header {
    position: fixed;
    width: 100%;
    z-index: 100;
}

header.header, .header-spacer {
    height: 60px;
}

.header-top {
    padding-bottom: 5px;
}

.main-heading {
    padding-left: 5px;
}

.cta-btn {
    position: fixed;
    left: auto;
    right: 5%;
    top: 60px;
}

    .cta-btn:hover {
        color: white;
    }

.header-banner {
    text-align: center;
}

.border-round
{
    border-radius: 50%;
}

.tagline {
    top: 40px;
    position: relative;
    font-size: 44px;
    color: white;
    text-shadow: 0.1vw 0.1vw 0.1vw #000, -0.1vw 0.1vw 0.1vw #000, 0.1vw -0.1vw 0.1vw #000, -0.1vw -0.1vw 0.1vw #000;
}

a.header-logo {
    text-decoration: none !important;
}

.header nav ul li.mobile-cta-btn-li {
    display: none;
}

.gallery-img .char-img img {
    width: 100%;
}

.nav-mobile {
    display: none;
}

.btn-mid:hover, .btn-mid:visited, .btn-mid:focus, .btn-big:hover, .btn-big:visited, .btn-big:focus {
    color: white;
}

.gallery-img {
    width: 20%;
}

.img-row-big {
    text-align: center;
    display: none;
}

.gallery-img .hover-links {
    top: 135px;
}

.comment-add-input {
    width: 80%;
}

    .comment-add-input .input-submit {
        display: initial;
    }

.comment-row-top .username h4 a {
    font-weight: normal;
    color: #888;
    font-size: 14px;
}

.comment-text p {
    font-weight: bold;
}

.comment-add-input .input-text {
    font-size: 16px;
    padding-top: 5px;
}


.gallery-img .char-hover .hover-title a {
    font-weight: bold;
}

.generate-selected-meme img {
    width: 100%;
}


.popup-comment-img {
    position: fixed;
    width: 260px;
}

.popup-comment-container {
    float: right;
    width: 62%;
}

.social-main {
    padding-bottom: 0;
}


.comments .comment-options .opt-like a:before {
    background-image: none;
}

.opt.opt-like .voter.horizontal .score {
    top: 0;
}

.opt-user-def ul li a {
    background-color: #aaa;
}

.comment-options .opt a {
    color: gray;
}


.comments {
    width: initial;
}

    .comments .comment-user.highlight {
        background-color: #ddd;
        padding: 10px;
        border-radius: 5px;
    }

    .comments .comment-user:hover {
        background-color: #ddd;
        border-radius: 5px;
    }



.img-row-big .img-info .meme-info-share span {
    background: url('images/share-icon@x2.png') no-repeat center center;
    background-size: 14px 14px;
    background-color: black;
    margin-right: 15px;
}

.gallery-one-line .gallery-img:nth-child(6) {
    display: none;
}

.gallery-img .hover-links ul li a {
    width: 38px;
    height: 38px;
}


.section-main-image .generate-meme, #comments-section {
    width: 70%;
    margin: auto;
}

.section-main-image .generate-selected-meme {
    width: 60%;
}

.section-main-image .generate-opt {
    width: 40%;
}

.section-main-image .generate-opt-inner {
    max-width: initial;
    padding: 0;
}


.comment-row-top, .comment-options .opt-reply, .comment-options .opt-delete {
    opacity: 0.6;
}

.comment-cnt:hover .comment-row-top,
.comment-cnt:hover .comment-options .opt-reply,
.comment-cnt:hover .comment-options .opt-delete {
    opacity: 1;
}

.comment-options .opt-delete a:before {
    background: url('images/delete.png') no-repeat 0 center;
    background-size: 17px 17px;
}

.opt-user-def ul li.opt-recaption a {
    background-image: url('images/plus-icon-b@x2.png');
}


.opt-user-def.opt-user-def-rel ul {
    text-align: center;
}

.opt-user-def .voter.heart .upvote {
    background-color: #aaa;
    width: 55px;
    height: 55px;
    padding-top: 5px;
}

    .opt-user-def .voter.heart .upvote span {
        width: 28px;
        height: 28px;
    }

    .opt-user-def ul li a:hover, .opt-user-def .voter.heart .upvote:hover {
        background-color: #a20101;
    }

    .gallery-img .hover-links ul li:hover
    {
        background-color: #a20101;
    }


    .opt-user-def ul li.opt-edit a
    {
        background-image: url(images/plus-icon-b@x2.png);
    }



@media (max-width: 1700px) {
    .only-above-1700 {
        display: none;
    }
}

@media (max-width: 1400px) {
    .only-above-1400 {
        display: none;
    }

    .gallery-img {
        width: 25%;
    }

    .gallery-one-line .gallery-img:nth-child(5) {
        display: none;
    }
}


@media (max-width: 1267px) {
    .only-above-1268 {
        display: none;
    }
}


@media (max-width: 1200px) {
    .only-above-1200 {
        display: none;
    }

    .section-main-image .generate-meme, #comments-section {
        width: 85%;
        float: left;
    }
}

@media (max-width: 1267px) {
    header.header, .header-spacer {
        height: 56px;
    }

    .cta-btn {
        top: 56px;
    }
}


@media (min-width: 1100px) {
    .only-below-1100 {
        display: none;
    }
}


@media (max-width: 1100px) {
    .only-above-1100 {
        display: none;
    }

    .section-main-image .generate-meme, #comments-section {
        width: 95%;
        float: none;
    }

    .gallery-img {
        width: 33.33%;
    }

    .gallery-main.items-10 .gallery-img:last-child {
        display: none;
    }

    .gallery-one-line .gallery-img:nth-child(5), .gallery-one-line .gallery-img:nth-child(6) {
        display: initial;
    }
}


@media (max-width: 820px) {

    .popup-comment-img {
        position: initial;
    }

    .popup-comment-container {
        float: left;
    }
}


@media (max-width: 767px) {
    .only-above-768 {
        display: none;
    }

    .main-holder
    {
        padding-left: 20px;
        padding-right: 20px;
    }

    .shell {
        padding: 0;
    }

    header.header, .header-spacer {
        height: 52px;
    }

    .cta-btn {
        top: 52px;
    }

    .custom-mobile-nav ul li {
        width: 25%;
    }

    .img-row-big {
        display: block;
    }

    .gallery-img {
        width: 100%;
        margin-bottom: 20px;
    }

        .gallery-img .hover-links {
            top: initial;
            bottom: 50px;
        }

    .btn-big-wrapper-2 {
        margin: auto;
        display: block;
    }

    .header nav ul li.mobile-cta-btn-li {
        display: block;
    }

    .nav-mobile ul li {
        width: 33%;
    }

    .popup-main {
        padding: 30px 10px;
        margin: 10px auto 60px auto;
    }

    .popup-comment-container {
        width: 100%;
    }

    .popup-comment-img {
        width: 100%;
        text-align: center;
    }

    .comment-add {
        display: block;
    }

    .comment-row-top .username {
        display: inline-block;
    }

    .char-hover {
        position: initial;
        display: block;
    }

    .section-main-image .generate-selected-meme {
        width: 100%;
        padding: 0;
    }

    .section-main-image .generate-opt {
        width: initial;
    }

    .section-main-image .generate-opt-inner {
        padding-bottom: 0;
    }

    .section-main-image .generate-meme-has-spacing {
        padding-bottom: 0;
    }

    .sign-up-now {
        display: none;
    }

    .imgurUrl {
        display: none;
    }
}


@media (max-width: 480px) {
    .section-main-image .generate-opt-inner .share-social {
        padding: 0;
    }
}


.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.loader {
    font-size: 10px;
    margin: 20px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

    .loader:before {
        width: 50%;
        height: 50%;
        background: #bbb;
        border-radius: 100% 0 0 0;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
    }

    .loader:after {
        background: #eee;
        width: 75%;
        height: 75%;
        border-radius: 50%;
        content: '';
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.mr10px {
    margin-right: 10px;
}

.mt20px
{
    margin-top: 20px;
}

.mt40px
{
    margin-top: 40px;
}

.mb20px
{
    margin-bottom: 20px;
}

.mb40px
{
    margin-bottom: 40px;
}

.ml20px
{
    margin-left: 20px;
}

.ml40px
{
    margin-left: 40px;
}

.mr20px
{
    margin-right: 20px;
}

.mr40px
{
    margin-right: 40px;
}


.logout-button-loader {
    display: none;
}
