/*----------------------*/
.garis{
    width:100%;
    border:solid 1px #000;
}
.halaman {
    font: 20px arial, helvetica, sans-serif;
    clear: left;
    font-size: 1.0em;
    margin-top: 2em;
    margin-right: 0;
    margin-bottom: 1em;
    margin-left: 50px;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 0em;
}
.ket {
    width:100%;
    display:block;
}
.halaman a, .halaman span {
    color:#666;
    display: block;
    float: left;
    padding: 0.2em 0.5em;
    margin-right: 0.1em;
    border: 1px solid #fff;
    background: #fff;
}

.halaman span.current {
    border: 1px solid #8a6d3b;
    font-weight: bold;
    background: #fcf8e3;
    color: #8a6d3b;
}

.halaman a {
    border: 1px solid #8a6d3b;
    text-decoration: none;
}

.halaman a:hover {
    border-color: #1abc9c;
}

.halaman a.nextprev {
    font-weight: normal;
}

.halaman span.nextprev {
    color: #666;
}

.halaman span.nextprev {
    border: 1px solid #ddd;
    color: #999;
}

.halaman .nextprev-next {
    float: right;
}

/*-------------------------------*/

